*{
    margin: 0;
    padding: 0;
}
.menu {
    width: 100%;
    border: 1px solid #ffcccc;
    height: 90px;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.menu ul {
    margin-top: 35px;
    align-items: center;
}

.menu ul li {
    list-style-type: none;
    display: inline;
    margin-left: 50px;


}

.menu ul li a:link {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    padding: 40px 20px
}   

.menu ul li a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
}

.menu ul li a:hover {
    color: rgb(0, 0, 0);
    background-color: #ffffffa1;
    box-shadow: 0px 4px 4px rgba(50,50,50,0.93);
    -webkit-box-shadow: 0px 4px 4px rgba(50,50,50, 0.93);
    -moz-box-shadow: 0px 4px 4px rgba(50,50,50, 0.93);
}

.container-2{
    width: 290px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    top: 25px;
  }

.container-2 input#search{
    width: 50px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #262626;
    padding-left: 35px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;

    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
}

.container-2 input#search::-webkit-input-placeholder {
    color: #65737e;
}

.container-2 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
}

.container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
}

.container-2 input#search:-ms-input-placeholder {  
    color: #65737e;  
}
.container-2 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
}

.container-2 input#search:focus, .container-2 input#search:active{
    outline:none;
    width: 300px;
    }

.container-2:hover input#search{
    width: 300px;
    }

.container-2:hover .icon{
    color: #93a2ad;
    margin-top: 16px;
    color: #93a2ad;

    -webkit-transform:scale(1); /* Safari and Chrome */
    -moz-transform:scale(1); /* Firefox */
    -ms-transform:scale(1); /* IE 9 */
    -o-transform:scale(1); /* Opera */
    transform:scale(1);
}


